h1 {
    text-align: center;
    color: #008B8B;
    font-family: 'Bellefair', serif;
     
}

.try {
    color: #008B8B;
    font-family: 'Bellefair', serif;
}

h3 {
    font-family: 'Bellefair', serif;
    color: #008B8B;
}
