<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/styles.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <style>
        .error {
            color: red;
        }
        </style>
    </head>
    <body>
        {% block content %}
        {% endblock %}        
    </body>
</html>